<div class='container'>
  <div class='card'>
    <div class='card-header'>
      <h4>Stack</h4>
    </div>
    <div class='card-body'>
      <h5 class='card-title' style='text-align: center;'>App en Node JS. Código en Typescript. Servidor Express. Motor
        de Plantillas Handlebars. WebSocket Socket.IO</h5>
      <h5 class='card-title' style='text-align: center;'>Persistencia: Memoria - File System / Motores de Bases de
        Datos: - MongoDB - MySQL - SQLite 3 - Firebase</h5>
      <h5 class='card-title' style='text-align: center;'>Librerías Auxiliares: CookieP arser - DotEnv - ES Lint -
        Prettier - Jest - Faker - Normalizr - Knex - Moment.js - Mongoose - UUID - Connect-Mongo - Etc.</h5>
      <div class='table-responsive'>
        <table class='table' style='text-align: center;'>
          <tr>
            <td><img src='./images/nodejs.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/express-cutout.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/Typescript.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/handlebars-js.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/socketio.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/mongodb.png' width='60' height='60' alt='Node JS' /></td>
          </tr>
          <tr>
            <td><img src='./images/firebase.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/mongo_atlas.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/mysql-cutout.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/sqlite-icon.svg.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/cpuicon.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/file-system-icon-29.jpg' width='60' height='60' alt='Node JS' /></td>
          </tr>
          <tr>
            <td><img src='./images/cookie_parser.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/dotenv.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/eslint.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/faker.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/jest.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/knex-cutout.png' width='60' height='60' alt='Node JS' /></td>
          </tr>
          <tr>
            <td><img src='./images/momentjs.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/mongoose-cutout.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/prettier.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/uuid.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/pret-eslint.png' width='60' height='60' alt='Node JS' /></td>
            <td><img src='./images/connect-mongo.png' width='60' height='60' alt='Node JS' /></td>
          </tr>
        </table>
      </div>
      <br />
      <div>
        <br />
        <div class='accordion' id='accordionExample'>
          <div class='card'>
            <div class='card-header' id='headingOne'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-light btn-block text-left'
                  type='button'
                  data-toggle='collapse'
                  data-target='#collapseOne'
                  aria-expanded='false'
                  aria-controls='collapseOne'
                >
                  <h5 style='text-align: center;'>ENDPOINTS LOCALHOST</h5>
                </button>
              </h2>
            </div>

            <div id='collapseOne' class='collapse' aria-labelledby='headingOne' data-parent='#accordionExample'>
              <div class='card-body'>
                <h6>Productos:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Productos:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/</a>
                </div>
                <div class='alert alert-primary' role='alert'>
                  PUT - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <h6>Carrito:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Items:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id_producto</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id</a>
                </div>
              </div>
            </div>
          </div>
          {{! <div class='card'>
            <div class='card-header' id='headingTwo'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-light btn-block text-left collapsed'
                  type='button'
                  data-toggle='collapse'
                  data-target='#collapseTwo'
                  aria-expanded='false'
                  aria-controls='collapseTwo'
                >
                  <h5 style='text-align: center;'>ENDPOINTS GLITCH</h5>
                </button>
              </h2>
            </div>
            <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo' data-parent='#accordionExample'>
              <div class='card-body'>
                <h6>Productos:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Productos:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/listar</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/listar/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/agregar</a>
                </div>
                <div class='alert alert-primary' role='alert'>
                  PUT - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/actualizar/:id</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/borrar/:id</a>
                </div>
                <h6>Carrito:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Items:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/listar</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Item:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/listar/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Item:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/:id_producto</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/borrar/:id</a>
                </div>
              </div>
            </div>
          </div> }}
        </div>

      </div>

    </div>
  </div>
</div>