<div class='container'>
  <div class='card'>
    <div class='card-header'>
      <h4>Stack</h4>
    </div>
    <div class='card-body'>
      <h5 class='card-title' style='text-align: center;'>App en Node JS. Código en Typescript. Servidor Express. Motor
        de Plantillas Handlebars. WebSocket Socket.IO</h5>
      <div class='iconRow'>
        <img
          src='https://raw.githubusercontent.com/github/explore/80688e429a7d4ef2fca1e82350fe8e3517d3494d/topics/nodejs/nodejs.png'
          width='60'
          height='60'
          alt='Node JS'
        />
        <img
          src='https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Typescript_logo_2020.svg/1200px-Typescript_logo_2020.svg.png'
          width='60'
          height='60'
          alt='TypeScript'
        />
        <img
          src='https://scontent.faep14-2.fna.fbcdn.net/v/t1.6435-9/cp0/e15/q65/p64x64/94883637_107480410948830_6157616113157931008_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=85a577&efg=eyJpIjoidCJ9&_nc_eui2=AeFFuImFWiug3AzX1sdu7FtZmJg6Qrmz_AOYmDpCubP8A1u-Kw75XvBNEdua0WEcIhw&_nc_ohc=rpXZUc5ybKoAX9Sh7Z8&_nc_ht=scontent.faep14-2.fna&oh=357ad8f20bb50b79f08e39e47e6eb54b&oe=614C09C9'
          width='60'
          height='60'
          alt='Express'
        />
        <img
          src='https://i0.wp.com/blog.fossasia.org/wp-content/uploads/2017/07/handlebars-js.png?w=500&ssl=1'
          width='60'
          height='60'
          alt='Handlebars'
        />
        <img src='https://cdn.worldvectorlogo.com/logos/socket-io.svg' width='60' height='60' alt='Socket IO' />
      </div>
      <br />
      <h5 class='card-title' style='text-align: center;'>Persistencia: Memoria - File System / Motores de Bases de
        Datos: - MongoDB - MySQL - SQLite 3 - Firebase</h5>
      <div class='iconRow'>
        <img
          src='https://icon-library.com/images/file-system-icon/file-system-icon-29.jpg'
          width='60'
          height='60'
          alt='File System'
        />
        <img
          src='https://media.istockphoto.com/vectors/circuit-and-video-chip-line-icon-graphic-processor-core-hardware-unit-vector-id1214107991?b=1&k=20&m=1214107991&s=170667a&w=0&h=YVQ9ajZ71JPxCdqXYODcaMJM3qz7LcV8QxASYFceVXo='
          width='60'
          height='60'
          alt='Internal Memory'
        />
        <img
          src='https://victorroblesweb.es/wp-content/uploads/2016/11/mongodb-150x150.png'
          width='60'
          height='60'
          alt='Mongo DB'
        />
        <img
          src='https://cdn.icon-icons.com/icons2/1381/PNG/512/mysqlworkbench_93532.png'
          width='60'
          height='60'
          alt='MySQL'
        />
        <img
          src='https://upload.wikimedia.org/wikipedia/commons/thumb/9/97/Sqlite-square-icon.svg/256px-Sqlite-square-icon.svg.png'
          width='60'
          height='60'
          alt='SQLite 3'
        />
        <img
          src='https://cdn.shortpixel.ai/spai/w_200+q_lossy+ret_img+to_webp/https://www.technisys.com/wp-content/uploads/2021/06/firebase_logo-1.png'
          width='60'
          height='60'
          alt='Firebase'
        />
      </div>
      <div>
        <br />
        <div class='accordion' id='accordionExample'>
          <div class='card'>
            <div class='card-header' id='headingOne'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-light btn-block text-left'
                  type='button'
                  data-toggle='collapse'
                  data-target='#collapseOne'
                  aria-expanded='false'
                  aria-controls='collapseOne'
                >
                  <h5 style='text-align: center;'>ENDPOINTS LOCALHOST</h5>
                </button>
              </h2>
            </div>

            <div id='collapseOne' class='collapse' aria-labelledby='headingOne' data-parent='#accordionExample'>
              <div class='card-body'>
                <h6>Productos:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Productos:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/</a>
                </div>
                <div class='alert alert-primary' role='alert'>
                  PUT - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a href='#' class='alert-link'>http://localhost:8080/api/productos/:id</a>
                </div>
                <h6>Carrito:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Items:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id_producto</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Item:
                  <a href='#' class='alert-link'>http://localhost:8080/api/carrito/:id</a>
                </div>
              </div>
            </div>
          </div>
          {{! <div class='card'>
            <div class='card-header' id='headingTwo'>
              <h2 class='mb-0'>
                <button
                  class='btn btn-light btn-block text-left collapsed'
                  type='button'
                  data-toggle='collapse'
                  data-target='#collapseTwo'
                  aria-expanded='false'
                  aria-controls='collapseTwo'
                >
                  <h5 style='text-align: center;'>ENDPOINTS GLITCH</h5>
                </button>
              </h2>
            </div>
            <div id='collapseTwo' class='collapse' aria-labelledby='headingTwo' data-parent='#accordionExample'>
              <div class='card-body'>
                <h6>Productos:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Productos:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/listar</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/listar/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/agregar</a>
                </div>
                <div class='alert alert-primary' role='alert'>
                  PUT - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/actualizar/:id</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/productos/borrar/:id</a>
                </div>
                <h6>Carrito:</h6>
                <div class='alert alert-success' role='alert'>
                  GET - All Items:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/listar</a>
                </div>
                <div class='alert alert-success' role='alert'>
                  GET - Single Item:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/listar/:id</a>
                </div>
                <div class='alert alert-warning' role='alert'>
                  POST - Item:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/:id_producto</a>
                </div>
                <div class='alert alert-danger' role='alert'>
                  DELETE - Producto:
                  <a
                    href='#'
                    class='alert-link'
                  >https://unleashed-nonchalant-atmosphere.glitch.me/api/carrito/borrar/:id</a>
                </div>
              </div>
            </div>
          </div> }}
        </div>

      </div>

    </div>
  </div>
</div>