<hr />
<h3>Cargar nuevo Producto</h3>
<form>
  <div class='myForm'>
    <div class='form-group'>
      <label>Nombre</label>
      <input type='text' class='form-control' id='title' name='title' />
    </div>
    <div class='form-group'>
      <label>Descripción</label>
      <input type='text' class='form-control' id='description' name='description' />
    </div>
    <div class='form-group'>
      <label>Código</label>
      <input type='text' class='form-control' id='code' name='code' />
    </div>
    <div class='form-group'>
      <label>Precio</label>
      <input type='text' class='form-control' id='price' name='price' />
    </div>
    <div class='form-group'>
      <label>Stock</label>
      <input type='text' class='form-control' id='stock' name='stock' />
    </div>
    <div class='form-group'>
      <label>Thumbnail</label>
      <input type='text' class='form-control' id='thumbnail' name='thumbnail' />
    </div>
  </div>
  <div class='formButton'>
    <button type='submit' class='btn btn-primary' onclick='sendData()' style='align-content: flex-end;'>Enviar</button>
  </div>
</form>