<hr />
<h3>Listado de productos</h3>
<div class='listContainer'>
  <ul class='list-group list-group-horizontal row' style='width: 75vw;'>
    <li class='list-group-item col-1'>Id</li>
    <li class='list-group-item col-2'>Timestamp</li>
    <li class='list-group-item col-1'>Nombre</li>
    <li class='list-group-item col-3'>Descripción</li>
    <li class='list-group-item col-1'>Código</li>
    <li class='list-group-item col-1'>Precio</li>
    <li class='list-group-item col-1'>Stock</li>
    <li class='list-group-item col-2'>Imagen</li>
  </ul>
</div>
<div class='listContainer' id='productList'></div>