{{!-- Esto es para mas adelante --}}
{{!-- <div class='container-fluid'>
  <div class='row'>
    <div class='col-7'>
        {{> productForms}}
        {{> cartForms}}
    </div>
    <div class='col-5'>
        {{> productView}}
        <br>
        {{> cartView}}
        <br>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      {{> responseView}}
    </div>
  </div>
</div> --}}

{{> infoView}}