body {
  margin: 10px;
  background-color: gray;
}
.container {
  /* margin: 0px;
  width: 100%; */
}

.iconRow {
  display: flex;
  justify-content: center;
  column-gap: 50px;
}

.productsRow {
  display: flex;
  justify-content: space-between;
}

.formButton {
  display: flex;
  justify-content: flex-end;
  column-gap: 5px;
}

.fileContainer {
  margin: 15px;
  border: 1px solid black;
  height: 150px;
  border-radius: 10px;
}
